.header {
    padding: 10px;
    background-color: var(--blueGreen);
    position: fixed;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    color: var(--blackOlive);
}