$font-stack: Caveat,
cursive;
$regColor: #ffc600;

html,
body {
    font: 100% $font-stack;
    font-size: .9rem;
    background: url("imgs/drums-630566_1920.jpg") bottom center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

// Centering the button group
.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

// Individual key styles
.key {
    border: .4rem solid black;
    border-radius: 1.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

// Key highlight
.playing {
    transform: scale(1.1);
    border-color: $regColor;
    box-shadow: 0 0 1rem $regColor;
}

//letter styles
kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $regColor;
}

// For mobile users
.turnDevice {
    display: none;
}

// Responsive - Desktops
@media (max-width: 1200px) {
    .keys {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .key {
        width: 7rem;
    }
}

// Responsive - Tablets, Landscape Style Devices
@media (max-width: 850px) {
    .key {
        width: 5rem;
        padding: 20px;
        background: rgba(0, 0, 0, 0.6);
    }

    kbd {
        display: none;
    }

    .sound {
        font-weight: 700;
    }
}

// Responsive - Portrait
@media (max-width: 500px) {
    .keys,
    .key {
        display: none;
    }

    body {
        min-height: 100vh;
    }

    .turnDevice {
        display: flex;
        text-align: center;
        padding-top: 25rem;
        color: $regColor;
        font-size: 2rem;
        font-weight: 700;
    }
}