:root {
  --blackOlive: #3B413C;
  --opal: #9DB5B2;
  --lightCyan: #DAF0EE;
  --blueGreen: #94D1BE;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--blackOlive);
  display: flex;
  justify-content: center;
  align-items: center;
}

